.playGame{
    margin: 0.5rem;
    &__map{
        padding: 1rem;
    } 
    
    &__quizElem{
            display: flex;
            padding: 1rem;
            overflow: scroll;
    }
    &__button{
        margin-right: 0.5rem;
    }
   
}
