
.quiz{
    display: flex;
    flex-direction: column;

    &__header{
        align-self: center;
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input{
        margin: 0.5rem;
        padding: 0.5rem;
    }
}