@import'./Sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');

#root {
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
button{
  background-color: $pink;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px $lightGrey ;
  border: none;
  max-width: 9rem;
}
button:hover{
  font-weight: bold;
}
.map-container {
	height: 400px;
}
