.quizez{
    display: flex;
    flex-direction: column;

    &__header{
        align-self: center;
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    &__NewQuiz{
       margin-right: auto;
       margin-left: 1rem;
       margin-top: 3px;
    }
    &__quizQuestions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__showYourQuizez{
        align-self: flex-start;
        margin-left: 1rem;
    }
    &__UserQuizElem{
        display: flex;
        margin-left: 1rem;
        margin-top: 3px;
        overflow: scroll;
    }
    &__errorMesage{
        color: rgb(230, 112, 131);
        font-weight: 500;
    }
}