.quizez{
    display: flex;
    flex-direction: column;

    &__header{
        align-self: center;
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    &__NewQuiz{
       background-color: rgb(108, 199, 199);
       margin-left: auto;
       margin-right: 1rem;
    }
    &__quizQuestions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__showYourQuizez{
        align-self: flex-start;
        margin-left: 1rem;
    }
    &__UserQuizElem{
        display: flex;
    }
}